version: '3.7'
services:
  reverse-proxy:
    image: nginx
    volumes:
      - ./reverse_proxy/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
      - 8010:8010
      - 3000:3000
      - 9090:9090
    restart: always

  nginx: 
    image: nginx:latest
    depends_on:
      - reverse-proxy
    restart: always
    volumes:
      - ./www/index.html:/usr/share/nginx/html/index.html

  buildbot:
    image: buildbot/buildbot-master:master
    env_file:
      - db.env
    environment:
      - BUILDBOT_CONFIG_DIR=config
      - BUILDBOT_CONFIG_URL=https://github.com/buildbot/buildbot-docker-example-config/archive/master.tar.gz
      - BUILDBOT_WORKER_PORT=9989
      - BUILDBOT_WEB_URL=http://127.0.0.1:8010/
      - BUILDBOT_WEB_PORT=tcp:port=8010
    links:
      - db
    depends_on:
      - db

  db:
    env_file:
      - db.env
    image: "postgres:9.4"
    expose:
      - 5432

  worker:
    image: "buildbot/buildbot-worker:master"
    environment:
      BUILDMASTER: buildbot
      BUILDMASTER_PORT: 9989
      WORKERNAME: example-worker
      WORKERPASS: pass
      WORKER_ENVIRONMENT_BLACKLIST: DOCKER_BUILDBOT* BUILDBOT_ENV_* BUILDBOT_1* WORKER_ENVIRONMENT_BLACKLIST

    links:
      - buildbot

  prometheus:
    image: prom/prometheus:latest
    volumes:
        - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
        - '--config.file=/etc/prometheus/prometheus.yml'
        - --web.external-url=http://127.0.0.1:9090
        - --web.route-prefix=/
    depends_on:
        - cadvisor

  cadvisor:
    image: gcr.io/google-containers/cadvisor:latest
    volumes:
        - /:/rootfs:ro
        - /var/run:/var/run:rw
        - /sys/:/sys/:ro
        - /var/lib/docker/:/var/lib/docker:ro
    depends_on:
      - redis

  redis:
    image: redis:latest

  grafana:
    image: grafana/grafana:latest
    environment:
        - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
        - prometheus

  sonarqube:
    image: sonarqube:8.2-community
    depends_on:
      - db
    ports:
      - 9000:9000